{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sushi Network</title>
    <!-- Importing mapbox scripts and styling the map a little bit -->
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet' />

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <!-- Backgound fo the body -->
    <style>
        body {
            background-color: #2E64FE;
        }
    </style>
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-5">
                <center><h1>Sushi Network!</h1></center>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-push-6" style="padding: 40px 0px;">
                <h3>Your Location is:</h3>
                <p>Country: {{ country }} City: {{ city }}</p>
                <p>Latitude: {{ latitude }} Longitude: {{ longitude }}</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-sm-pull-6">
                <div id='map'></div>
            </div>
        </div>

    </div>

    <!-- jQuery is required for this example. -->
   <script src='https://code.jquery.com/jquery-1.11.0.min.js'></script>
    <script>
    L.mapbox.accessToken = 'pk.eyJ1Ijoic2VkbmFucmVmMjAwNCIsImEiOiJjaXAwazNubTIwMmo2dWZtNGkyeGlma2xsIn0.cKTasCVlTqSrZWNEKLBMYA';
    var map = L.mapbox.map('map', 'mapbox.emerald')
        .setView([{{ latitude }},{{ longitude }}], 14); //([lat, longi], zoom)

    // Credit Foursquare for their wonderful data
    map.attributionControl
        .addAttribution('<a href="https://foursquare.com/">Places data from Foursquare</a>');

    // Create a Foursquare developer account: https://developer.foursquare.com/
    // NOTE: CHANGE THESE VALUES TO YOUR OWN:
    // Otherwise they can be cycled or deactivated with zero notice.
    var CLIENT_ID = 'MSB3H0C14BLRSSAAYGELVLAAWVKWUL5DXYVMWF2UJPUVZOMC';
    var CLIENT_SECRET = 'ZSDRDRBEZHO4DUH5TWS2DQMOUP1MMBBMEZJBNDZZVXTUFZX1';

    // https://developer.foursquare.com/start/search
    var API_ENDPOINT = 'https://api.foursquare.com/v2/venues/search' +
      '?client_id=CLIENT_ID' +
      '&client_secret=CLIENT_SECRET' +
      '&v=20130815' +
      '&near=' + {{ latitude }} + ',' + {{ longitude }} +
      '&query=sushi' +
      '&callback=?';

    // Keep our place markers organized in a nice group.
    var foursquarePlaces = L.layerGroup().addTo(map);

    // Use jQuery to make an AJAX request to Foursquare to load markers data.
    $.getJSON(API_ENDPOINT
        .replace('CLIENT_ID', CLIENT_ID)
        .replace('CLIENT_SECRET', CLIENT_SECRET)
        .replace('LATLON', map.getCenter().lat +
            ',' + map.getCenter().lng), function(result, status) {

        if (status !== 'success') return alert('Request to Foursquare failed');

        // Transform each venue result into a marker on the map.
        for (var i = 0; i < result.response.venues.length; i++) {
          var venue = result.response.venues[i];
          var latlng = L.latLng(venue.location.lat, venue.location.lng);
          var address = "";
          if(venue.location.address != null){
            address = "<br>" + venue.location.address;
          }

          var marker = L.marker(latlng, {
              icon: L.mapbox.marker.icon({
                'marker-color': '#000080',
                'marker-symbol': 'restaurant',
                'marker-size': 'large'
              })
            })

          .bindPopup('<strong><a href="https://foursquare.com/v/' + venue.id + '">' +
            venue.name + address + '</a></strong>')
            .addTo(foursquarePlaces);
        }
        //To get the mapbox inside bootstrap
        var mapmargin = 150;
        $('#map').css("height", ($(window).height() - mapmargin));
        $(window).on("resize", resize);
        resize();
        function resize(){

            if($(window).width()>=980){
                $('#map').css("height", ($(window).height() - mapmargin));
                $('#map').css("margin-top",50);
            }else{
                $('#map').css("height", ($(window).height() - (mapmargin+12)));
                $('#map').css("margin-top",-21);
            }

        }
    });
    </script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>

</body>
</html>